---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Jan 04 2022 16:55:08 GMT+0000 (Coordinated Universal Time)
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 63ms
      X-Cloud-Trace-Context:
      - 202c1839857d6b67584dd33a5fd40bd5
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"9gp","url":"https://cdn2.thecatapi.com/images/9gp.jpg","width":600,"height":600}]'
  recorded_at: Tue, 04 Jan 2022 16:55:08 GMT
[...]
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Jan 04 2022 16:55:09 GMT+0000 (Coordinated Universal Time)
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 66ms
      X-Cloud-Trace-Context:
      - 1df40324aad0f1a18e11950704afe229
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"categories":[{"id":6,"name":"caturday"}],"id":"3td","url":"https://cdn2.thecatapi.com/images/3td.jpg","width":449,"height":600}]'
  recorded_at: Tue, 04 Jan 2022 16:55:09 GMT
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Jan 04 2022 16:55:09 GMT+0000 (Coordinated Universal Time)
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 67ms
      X-Cloud-Trace-Context:
      - cf4bd573202f1e2fab8706c7335ceb59
    body:
      encoding: UTF-8
      string: '[{"breeds":[{"weight":{"imperial":"8 - 25","metric":"4 - 11"},"id":"sava","name":"Savannah","vetstreet_url":"http://www.vetstreet.com/cats/savannah","temperament":"Curious,
        Social, Intelligent, Loyal, Outgoing, Adventurous, Affectionate","origin":"United
        States","country_codes":"US","country_code":"US","description":"Savannah is
        the feline version of a dog. Actively seeking social interaction, they are
        given to pouting if left out. Remaining kitten-like through life. Profoundly
        loyal to immediate family members whilst questioning the presence of strangers.
        Making excellent companions that are loyal, intelligent and eager to be involved.","life_span":"17
        - 20","indoor":0,"alt_names":"","adaptability":5,"affection_level":5,"child_friendly":4,"dog_friendly":5,"energy_level":5,"grooming":1,"health_issues":1,"intelligence":5,"shedding_level":3,"social_needs":5,"stranger_friendly":5,"vocalisation":1,"experimental":1,"hairless":0,"natural":0,"rare":0,"rex":0,"suppressed_tail":0,"short_legs":0,"wikipedia_url":"https://en.wikipedia.org/wiki/Savannah_cat","hypoallergenic":0,"reference_image_id":"a8nIYvs6S"}],"id":"yKXeUMNZ8","url":"https://cdn2.thecatapi.com/images/yKXeUMNZ8.jpg","width":1080,"height":1350}]'
  recorded_at: Tue, 04 Jan 2022 16:55:09 GMT
[...]
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Jan 04 2022 16:55:12 GMT+0000 (Coordinated Universal Time)
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 67ms
      X-Cloud-Trace-Context:
      - 41c0347ac9f5f1eead3c2632e2e1e27c
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"MTc4NDg3Nw","url":"https://cdn2.thecatapi.com/images/MTc4NDg3Nw.png","width":768,"height":1024}]'
  recorded_at: Tue, 04 Jan 2022 16:55:12 GMT
recorded_with: VCR 6.0.0
