---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/4u9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 1ms
      X-Cloud-Trace-Context:
      - 2f6c2ee1ca62953870bc80a7b7d22697
    body:
      encoding: UTF-8
      string: '{"id":"4u9","url":"https://cdn2.thecatapi.com/images/4u9.jpg","width":500,"height":334}'
  recorded_at: Sat, 01 Jan 2022 01:12:28 GMT
recorded_with: VCR 6.0.0
